html {
    background-color: #f8f9fa;
  }

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
}
.table-contents{
    height: max-content;
}
td {
    text-align: center;
    vertical-align: center;
}
.container1 {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-around;
}
.container2 {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    align-self: flex-start;
}
.item {
    border: 2px solid;
    border-radius: 10px;
    border-color: dimgrey;
    background-color: white;
    flex-grow: 4;
    flex-shrink: 4;
    flex-basis: max-content;
    min-width: 0;
}
.item2 {
    border: 2px solid;
    border-radius: 10px;
    border-color: dimgrey;
    background-color: white;
    flex-grow: 4;
    flex-shrink: 4;
    flex-basis: max-content;
    min-width: 0;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch
}
.title {
    text-align: center;
}
.value {
    text-align: center;
    margin: auto;
}