<html>
    <head>
        <title>テスト</title>
    </head>
    <body>
    <h1>大阪府の新型コロナウイルス感染者一覧</h>
    <table border="1">
        <tr>
            <th>性別</th>
            <th>年齢</th>
            <th>居住地</th>
            <th>発症日</th>
            <th>発熱</th>
            <th>咳</th>
            <th>痰</th>
            <th>鼻汁</th>
            <th>頭痛</th>
            <th>咽頭痛</th>
            <th>呼吸困難</th>
            <th>倦怠感</th>
            <th>味覚障害</th>
            <th>嗅覚障害</th>
            <th>肺炎</th>
            <th>無症状</th>
        </tr>
        {% for data in all_data %}
            <tr>
                <td>{{data.gender}}</td>
                <td>{{data.age}}</td>
                <td>{{data.place}}</td>
                <td>{{data.date_of_onset}}</td>
                <td>{{data.fever}}</td>
                <td>{{data.cough}}</td>
                <td>{{data.sputum}}</td>
                <td>{{data.nasal_discharge}}</td>
                <td>{{data.headache}}</td>
                <td>{{data.sore_throat}}</td>
                <td>{{data.dyspnea}}</td>
                <td>{{data.lethargy}}</td>
                <td>{{data.taste_disorder}}</td>
                <td>{{data.olfactory_impairment}}</td>
                <td>{{data.pneumonia}}</td>
                <td>{{data.asymptomatic}}</td>
            </tr>
        {% endfor %}
    </table>
    </body>
</html>